.rot{
    transition: transform 2s ease-out;
    box-shadow: 0 0 0px 0 black;
    width: 200px;
    text-align: center;
}

.rot:hover{
    transform: rotateY(360deg);
    /*content: url("../static/dkflip.png")*/;
}

.linkopskrift{
    text-decoration: none;
    font-family: "Ink Free";
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.linkskab{
    text-decoration: none;
    font-family: Candara;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

#DKmodspild {
    float: right;
    /*width: 100px;*/
    height: 75px;
    justify-content: right;
}