.top{
    position: fixed;
    top: 0;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #556B2F;
}

li {
    float: left;
}

li a {
    display: block;

    text-align: center;
    padding: 10px;

}
li a:link{
    color: #556B2F;
    background-color: transparent;
    text-decoration: none;

}
li a:visited{
    color: #556B2F;
    background-color: transparent;
    text-decoration: none;
}
li a:hover{
    color: forestgreen;
    background-color: transparent;
    text-decoration: underline;
}


#Logo{
    justify-self: left;
    display: inline-block;
    width: 85px;
    height: 100px;

}

 #header{
  text-align: center;
   /* display: inline-list-item;*/
     justify-self: center;

    font-weight: 900;
    font-size: xx-large;
    color:#593C19;

    background-color: #556B2F;
}
 body{
     background-color: olivedrab;
 }
.nav {
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #374017;
    font-size: large;
    font-weight: bold;

}
.nav p{

    margin: 15px;

}

.nav li {
    float: left;

    border: 1px solid olivedrab;


}

.nav li a {
    display: block;
    color: forestgreen;
    text-align: center;
    padding-left: 2px;


}
#forbruger{
    margin-left: 100px;
}
#forbruger a:hover{
    color: whitesmoke;
    background-color: #083A59;
    text-decoration: underline;

}
#virksomhed a:hover{
    color: whitesmoke;
    background-color: olive;
    text-decoration: underline;

}
#organisationer a:hover{
    color: whitesmoke;
    background-color: #B5BFA4;
    text-decoration: underline;

}