<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kontakt</title>
  <link rel="stylesheet" href="../static/css/combined.css" th:href="@{css/combined.css}">
  <link rel="stylesheet" href="../static/css/organisation.css" th:href="@{css/organisation.css}">
  <link rel="stylesheet" href="../static/css/contact.css" th:href="@{css/contact.css}">
  <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
  <div class="topdeco">
    <div class="header">

      <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/madspildgrønt.png}" alt="FoodMind" src="../static/pictures/madspildgrønt.png"> </a>
      <p class="dmmtop">Danmark mod Madspild</p>    </div>
    <div class="topnav">
      <ul>
        <!--    <li><a><img src="../static/pictures/Logo.png"  height="30px" width="30px" ></a></li>-->
        <li><a th:href="@{/index}" href="index.html">Home</a> </li>
        <li><a th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
        <li><a th:href="@{/virksomhed}"href="virksomhed.html" > Virksomhed</a></li>
        <li><a th:href="@{organisation}" href="organisation.html">Organisation</a></li>
        <li id="contact"><a class="active" th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
      </ul>
    </div>
  </div>
<!--  <div class="navside">-->
<!--    <ul>-->
<!--      <li><a th:href="@{orgdataindsamling}" href="orgdataindsamling.html">Dataindsamling</a></li>-->
<!--      <li><a th:href="@{orgresourcestyring}" href="orgresourcestyring.html">Resourcestyring</a></li>-->
<!--      <li><a th:href="@{orgrapporter}" href="orgrapporter.html">Rapporter</a></li>-->
<!--      <li><a th:href="@{orgpartner}" href="orgpartner.html">Bliv partner</a></li>-->

<!--    </ul>-->
<!--  </div>-->
</div>

<div class="brødtekst">
  <div class="fcf-body">

    <div id="fcf-form">
      <h3 class="fcf-h3">Kontakt os</h3>

      <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">

        <div class="fcf-form-group">
          <label for="Name" class="fcf-label">Dit navn</label>
          <div class="fcf-input-group">
            <input type="text" id="Name" name="Name" class="fcf-form-control" required>
          </div>
        </div>

        <div class="fcf-form-group">
          <label for="Email" class="fcf-label">Din e-mail adresse</label>
          <div class="fcf-input-group">
            <input type="email" id="Email" name="Email" class="fcf-form-control" required>
          </div>
        </div>

        <div class="fcf-form-group">
          <label for="Message" class="fcf-label">Din besked</label>
          <div class="fcf-input-group">
            <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
          </div>
        </div>

        <div class="sendknap">
          <a th:href="@{/mailformular}" href="mailformular.html">Send</a>
        </div>
      </form>
    </div>
</div>
  </div>

</body>

</html>