<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>
    <link rel="stylesheet" href="../static/css/organisation.css" th:href="@{/organisation.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <!--    <li><a><img src="../static/pictures/Logo.png"  height="30px" width="30px" ></a></li>-->
                <li><a href="#home">Home</a> </li>
                <li><a href="#forbruger">Forbruger</a></li>
                <li><a href="#virksomhed">Virksomhed</a></li>
                <li><a class="active" href="#organisation">Organisation</a></li>
                <li id="contact"><a class="#contact us" href="contact us">Contact Us </a></li>
            </ul>
        </div>
    </div>
    <div>
        <header>
            <li><a href="#home">Opbevaringsvejledning</a></li>
            <li><a href="#news">Opskrifter</a></li>
            <li><a href="#contact">Madplanlægning</a></li>
            <li><a href="#about">Tips og tricks</a></li>
            <li><a href="#about">Fællesskaber</a></li>
        </header>
    </div>
</div>

<div class="brødtekst">
    <p>Opbevaringsvejledning:

        En detaljeret vejledning om, hvordan man opbevarer forskellige typer af mad for at forlænge holdbarheden.

        Opskrifter:

        En samling af opskrifter, der kan bruge rester af mad fra tidligere måltider.

        Madplanlægning (kalenderfunktion):

        En kalenderfunktion, hvor man kan planlægge sine måltider for ugen, så man kan undgå impulskøb og overkøb.

        Tips og tricks:

        En samling af tips og tricks til, hvordan man kan reducere sit madspild. </p>
</div>

</body>

</html>