<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>
    <link rel="stylesheet" href="../static/css/forbruger.css" th:href="@{/forbruger.css}">
</head>
<body>
<!-- Mortens topnavigation skal ind i stedet for denne-->
<div class="topnav">
    <li><a><img src="../static/pictures/Logo.png" height="40px" width="40px"></a></li>
    <li><a th:href="@{xx}" href="xx.html">Home</a></li>
    <li><a th:href="@{xx}" href="xx.html">Forbruger</a></li>
    <li><a th:href="@{xx}" href="xx.html">Virksomhed</a></li>
    <li><a th:href="@{xx}" href="xx.html">Organisation</a></li>
    <li><a th:href="@{xx}" href="xx.html" >Kontakt os</a></li>
</div>
<div>
    <header>
        <li><a href="#home">Forbruger</a></li>
        <li><a href="#news">Opbevaring</a></li>
        <li><a href="#contact">Opskrifter</a></li>
        <li><a href="#about">Tips og tricks</a></li>
        <li><a href="#about">Fællesskaber</a></li>
    </header>
</div>

<div class="text">
    <img src="../static/pictures/for_frugtsmal.jpg" width="800px">

    <div>
        <h2>Forbruger</h2>
        <p>I Danmark udgør forbrugernes andel af madspild....</p>
        <h3>Definition af madspild:</h3>
        <p>Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to: madspild og øvrigt madaffald. Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud. Øvrigt madaffald er de dele af fødevarer, der ikke er egnet til at spise. Eksempler på madspild er brød, hel frugt og grønt og middagsrester. Eksempler på øvrigt madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse.<br>

            kilde: Miljøstyrelsen, rapporten ”Kortlægning af madaffald i servicesektoren – Detailhandel, restauranter og storkøkkener”</p>
    </div>

    <img src="../static/pictures/for_frugt3.jpg" width="800px">
    <img src="../static/pictures/for_frugt4.jpg" width="800px">
</div>
</body>
</html>