<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>
    <link rel="stylesheet" href="../static/css/forbruger.css" th:href="@{css/forbruger.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li><a th:href="@{/contact}" href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/foropbevaring}" href="foropbevaring.html">Opbevaringsvejledning</a></li>
            <li><a th:href="@{/foropskrifter}" href="foropskrifter.html">Opskrifter</a></li>
            <li><a th:href="@{/formadplan}" href="formadplan.html">Madplanlægning</a></li>
            <li><a th:href="@{/fortips}" href="fortips.html">Tips og tricks</a></li>
            <li><a th:href="@{/forfallesskab}" href="forfallesskab.html">Fællesskaber</a></li>
        </ul>
    </div>
</div>

<div class="brødtekst">
    <h1>Forbruger</h1>
    <div><img th:src="@{/pictures/forbruger/apple.jpg}" alt="Picture off food here" src="../static/pictures/forbruger/apple.jpg" width="1000" height="100"></div>
    <div>
        <p>I Danmark udgør forbrugernes andel af madspild omkring 36% af det samlede madspild, svarende til ca 260.000 ton mad.</p>

        <p>Madspild koster danske husholdninger 13,5 milliarder kroner om året inkl. moms og afgifter.<br>
            kilde: Landbrug & Fødevarer - tal fra 2016</p>

        <h2>Ønsker du at bidrage til at mindske madspild?</h2>
        <p>Bidrag til mere omtanke<br>
            Lad os begynde med at tage fat i dét, der berører os alle. I noget vi har tæt på livet tre gange dagligt. Nemlig mad.<br>
            Et liv med omtanke på hverdagens forbrug er også et liv med omtanke for miljøet. At komme madspild til livs resulterer i mindsket CO2-udslip og derved i mindre drivhuseffekt og dermed i en opbremsning af den globale opvarmning.



            I fremtiden omkring år 2050 er vi 9 milliarder mennesker på Jorden. Hvis vi fortsætter med at madspilde, som vi gør i dag, hvor en 3. del af al verdens mad går til spilde, bliver der i 2050 ikke mad nok til alle klodens indbyggere.



            At stoppe madspild vil føre med sig en omfordeling af de globale ressourcer. På længere sigt kan radikalt mindre madspild være et skridt imod løsningen af fødevaremangel i den 3. verden.</p>
        <br><br>
        <h3>Definition af madspild:</h3>
        <p>Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to: madspild og øvrigt madaffald. Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud. Øvrigt madaffald er de dele af fødevarer, der ikke er egnet til at spise. Eksempler på madspild er brød, hel frugt og grønt og middagsrester. Eksempler på øvrigt madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse.<br>

            kilde: Miljøstyrelsen, rapporten ”Kortlægning af madaffald i servicesektoren – Detailhandel, restauranter og storkøkkener”</p>
        <br>
        <h2>Tre typer spild:</h2>
        <p> 1) ’Madspild’ er madaffald, der kunne være spist af mennesker.<br><br>
            2) ’Skjult madspild’ er spild af planter eller dyr, der kunne have været spist af mennesker, hvis de blev behandlet eller udnyttet optimalt gennem hele kæden fra primærproduktion til detailhandel.<br><br>
            3) ’Biprodukter’ omfatter dele af fødevareproduktionen, der ikke er egnede som menneskeføde, men hvor det er relevant at diskutere, hvorvidt udnyttelsen af disse er optimal eller om der også her kan være tale om et spild af ressourcer.<br>
            kilder: Aarhus Universitet, CONCITO - fra Fødevareministeriets konference 'Det skjulte madspild' i 2011</p>
    </div>
    <br><br>
    <div><img th:src="@{/pictures/forbruger/for_frugtsmal.jpg}" alt="Picture off food here" src="../static/pictures/forbruger/for_frugtsmal.jpg" width="1000"></div>
</div>

</body>

</html>