<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forbruger</title>
  <link rel="stylesheet" href="../static/css/forbruger.css" th:href="@{/css/forbruger.css}">
  <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
  <div class="topdeco">
    <div class="header">

      <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
    </div>
    <div class="topnav">
      <ul>
        <li><a th:href="@{/index}" href="index.html">Home</a> </li>
        <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
        <li><a th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
        <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
        <li><a th:href="@{/contact}" href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="navside">
    <ul>
      <li><a th:href="@{/foropbevaring}" href="foropbevaring.html">Opbevaringsvejledning</a></li>
      <li><a th:href="@{/foropskrifter}" href="foropskrifter.html">Opskrifter</a></li>
      <li><a th:href="@{/formadplan}" href="formadplan.html">Madplanlægning</a></li>
      <li><a th:href="@{/fortips}" href="fortips.html">Tips og tricks</a></li>
      <li><a th:href="@{/forfallesskab}" href="forfallesskab.html">Fællesskaber</a></li>
    </ul>
  </div>
</div>

<div class="brødtekst">
  <h1>Fællesskaber</h1>


</div>

</body>

</html>