<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forbruger</title>
  <link rel="stylesheet" href="../static/css/combined.css" th:href="@{/css/combined.css}">
  <link rel="stylesheet" href="../static/css/forbruger.css" th:href="@{/css/forbruger.css}">
  <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
  <div class="topdeco">
    <div class="header">

      <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>

    </div>
    <div class="topnav">
      <ul>
        <li><a th:href="@{/index}" href="index.html">Hjem</a> </li>
        <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
        <li><a th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
        <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
        <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
      </ul>
    </div>
  </div>
  <div class="navside">
    <ul>
      <li><a th:href="@{/foropbevaring}" href="foropbevaring.html">Opbevaringsvejledning</a></li>
      <li><a th:href="@{/foropskrifter}" href="foropskrifter.html">Opskrifter</a></li>
      <li><a th:href="@{/formadplan}" href="formadplan.html">Madplanlægning</a></li>
      <li><a th:href="@{/forfallesskab}" href="forfallesskab.html">Fællesskaber</a></li>
    </ul>
  </div>
</div>
<img id="DKmodspild" th:src="@{/pictures/madspildmoddanmark.png}" alt="" src="../static/pictures/madspildmoddanmark.png">
<div class="brødtekst">
  <h1>Fællesskaber</h1>

  <h2>Sammen har vi det sjovere!</h2>
  <p>Herunder finder du forskellige fællesskaber der alle arbejder for at mindske madspild</p>
  <br><br>

  <h3>- Fødevarebanken</h3>
  <p>Fødevarebanken er en organisation der modtager overskudsmad fra fødevareproducenter og grossister. <br>
    Det er mad, der intet fejler, men som alligevel ikke kan sælges i butikkerne.<br>
    Maden leveres videre til sociale organisationer, som laver maden til måltider til mennesker i svære livssituationer.</p>

  <p><a class="linkskab" href="https://foedevarebanken.dk/">Link til Fødevarebanken</a></p>
  <br><br>
  <h3>- Fællesskabet i København</h3>
  <p>Alle er velkomne til at donere mad, og vi sætter pris på donationer af frisk mad, tilberedt mad fra <br>
    supermarkeder, restauranter, kontorer eller andre steder, som de folk, der bruger rummet omkring Folketshus, <br>
    og alle, der passerer forbi, kan få gavn af det.</p>
  <p><a class="linkskab" href="https://madbroen.dk/faellesskabetkbh/da/maddonation/">Link til Fødevarebanken</a></p>
  <br><br>
  <h3>- Næstehjælperne</h3>
  <p>Næstehjælperne er en organisation der hjælper udsatte, derigennem kan man donere samt få overskudsmad</p>

  <p><a class="linkskab" href="https://www.facebook.com/groups/1013632195419628/?locale=da_DK">Link til Næstehjælperne</a></p>

</div>

</body>

</html>