<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>
    <link rel="stylesheet" href="../static/css/combined.css" th:href="@{/css/combined.css}">
    <link rel="stylesheet" href="../static/css/forbruger.css" th:href="@{/css/forbruger.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>

        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html">Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/foropbevaring}" href="foropbevaring.html">Opbevaringsvejledning</a></li>
            <li><a th:href="@{/foropskrifter}" href="foropskrifter.html">Opskrifter</a></li>
            <li><a th:href="@{/formadplan}" href="formadplan.html">Madplanlægning</a></li>
            <li><a th:href="@{/forfallesskab}" href="forfallesskab.html">Fællesskaber</a></li>
        </ul>
    </div>
</div>

<div class="brødtekst">
    <h1>Madplanlægning</h1>
    <div><img th:src="@{/pictures/forbruger/menu1.jpg}" alt="Picture here" src="../static/pictures/forbruger/menu1.jpg" width="1000" height="57"></div>
    <div><img th:src="@{/pictures/forbruger/menu2.jpg}" alt="Picture here" src="../static/pictures/forbruger/menu2.jpg" width="1000" height="57"></div>
    <div>
        <p>
            Med en madplan slipper du for at stresse over, hvad I skal have at spise. Du sparer tid om eftermiddagen, fordi ingredienserne allerede er i køleskabet.
            Og madbudgettet er langt kønnere at kigge på, når måltiderne planlægges en uge frem ad gangen.<br>
            Men hvordan griber man det an, hvis man er typen, der plejer at trives bedst med spontane mad-beslutninger? Her kommer 9 gode råd til dig, der gerne vil blive ekspert i madplaner.<br>

        <h2>1. Find fordelene</h2>
        Måske tænker du, at det er spild af tid at sætte dig ned og lægge en plan for ugens måltider. I bliver jo alligevel mætte hver dag, og alting behøver ikke være så struktureret.
        Well, sandt nok – men hvis I gerne vil spare penge, er madplaner et sindssygt godt sted at starte. Der er nemlig mange kroner at hente på at planlægge måltiderne. Hvis I har en plan, kan du være sikker på, at I kun køber det, I rent faktisk skal bruge – og at I får brugt det, der er i skabene.
        Fristelsen til at ringe efter fastfood er meget lille, når der er nem mad på planen hver dag. Og du behøver ikke stresse rundt i køkkenet efter Pamas minutris kl. 17 (medmindre I altså har planlagt en nem omgang risengrød). Med andre ord: Madplaner er himlen for en hjemmegående mor (eller far!).

        <h2>2. Hold det simpelt</h2>
        Det kan være, du har afskrevet madplaner for længe siden, fordi du tænker, det er noget med at lave komplicerede thailandske fiskefrikadeller den ene dag og koge bouillabaisse med rødfisk og havkat den næste dag. Noget med endelig at læse de kogebøger, I har liggende og skabe 7 fantastiske måltider hver eneste uge.
        Faktisk er hemmeligheden bag de bedste madplaner, at de er simple. De kan sagtens indeholde spejlæg, risengrød og æggekage. For slet ikke at tale om rester, supper og tøm-køleskabs-dage.
        Madplaner er ikke (nødvendigvis) et skridt i retningen af nye, komplicerede opskrifter i dit køkken. Det er blot en oversigt over, hvad du har tænkt dig, I skal have at spise den kommende uge.

        <h2>3. Tænk nemt og hurtigt</h2>
        Selvom du er hjemme hele dagen, er det ikke sikkert, du har lyst til at bruge oceaner af timer i køkkenet. Madplanen kan derfor med fordel indeholde hverdagsretter, du nemt og hurtigt kan lave med et barn på armen.
        En stegeso kan være en fantastisk hjælp. Fyld grøntsager i bunden, læg et stykke kød eller kylling ovenpå, drys rundhåndet med krydderier, hæld lidt vand i bunden, og smæk den i ovnen sidst på eftermiddagen. Den passer sig selv, og det føles næsten som at have en kogekone ansat.
        Gør det eventuelt til en vane at lave dobbeltportion af Jeres aftensmad i weekenden, og frys halvdelen ned – så er der nem aftensmad til et par dage i ugerne, der kommer. Alle former for gryderetter, supper og kødsaucer er supervelegnede til at fryse.
        Min faster sagde engang til mig: Når du får børn, må du aldrig lave kødsovs af mindre end to kilo fars. Og faktisk har hun ret: Det tager ikke meget ekstra tid at lave en større portion. Men det gør en verden til forskel de dage, hvor du ikke skal gøre andet end at varme retten op. Prøv det!

        <h2>4. Roter dine menuer</h2>
        At lave madplaner betyder ikke, at du skal lave 52 forskellige ugeplaner til året, der kommer.
        Hver sæson har sine favoritter og gode råvarer, og hvis du tager højde for det, kan du nøjes med at lave 3-4 madplaner til hver årstid og sætte dem i rotation.
        Lav en indkøbsliste, der passer specifikt til hver enkelt madplan – og sæt også den i rotation. Eventuelt kan du shoppe online og få dine varer leveret automatisk på en valgfri ugedag. Så bliver det ikke lettere.
        Og bare rolig: Din familie har helt sikkert ikke noget imod, at deres livretter kommer fast på bordet med jævne mellemrum. Tværtimod.

        <h2>5. Udnyt Jeres rutiner</h2>
        Går I til dans hver tirsdag? Eller arbejder far længe hver torsdag?
        Tag højde for Jeres faste aftenrutiner, når du lægger madplanen, og sæt nemme retter på menuen de dage, hvor du ved, I har ekstra meget at se til.
        Du kan eventuelt beslutte, at hver mandag er suppe-dag, tirsdag stegeso-dag, onsdag reste-dag, torsdag rugbrøds-dag og fredag fiske-dag. Eller suppler måske med en fast grød-dag, fryser-dag eller fjerkræs-dag…
        Sidste vinter fik vi grøntsagssuppe hver mandag, fordi vi skulle til familiegymnastik fra kl. 17-18 – og suppe var nemt at forberede om dagen og genopvarme, når vi kom hjem. Og hver fredag fik vi hjemmelavede burgere, fordi…. – Ja bare fordi!

        <h2>6. Hold dig på forkant</h2>
        Det giver bonus, hvis du tager højde for, hvordan I kan udnytte ingredienserne fra dag til dag.
        Steger du en hel kylling i en stegeso om søndagen, kan I få tarteletter, kyllingesuppe, hønsefrikasse eller club sandwiches de kommende dage. En stor portion kødsauce kan bruges som base til chili con carne, madpandekager, tacos eller pizza. Og dampet broccoli kan serveres au natural den ene dag og bruges i en tærte den næste dag.
        På den måde er du altid på forkant.

        <h2>7. Overvej de andre måltider</h2>
        Når du har helt tjek på aftensmaden, får du måske lyst til at planlægge de andre måltider også. Det kan være, Jeres morgenmad skal være en rotationsordning af havregrød, omelet, pandekager og boller. Eller at du beslutter dig for, I skal have risengrød til frokost hver tirsdag og fiskepålæg mandag og torsdag. Mulighederne er mange. Du behøver ikke planlægge alle måltider i detaljer – men hvis du har lyst, kan det være, du oplever, at det frigør energi og overskud.

        <h2>8. Hent inspiration online</h2>
        Hvis du føler dig på bar bund, er der masser af steder på nettet, hvor du kan hente inspiration til Jeres madplaner.
        På TV2’s hjemmeside kan du tilmelde dig nyhedsbrevet fra Go Kur, og hver fredag få tilsendt en madplan, der er sat sammen af ernæringsekspert Christian Bitz.
        Magasinet Vores Børn tilbyder gratis madplaner med børnevenlige retter og tilhørende indkøbslister, og på madopskrifter.nu kan du sammensætte Jeres helt egne madplaner ved at mikse forskellige kategorier og opskrifter.

        <h2>9. Præsenter den pænt</h2>
        Når du nu har gjort dig umage for at lave en madplan, kan du lige så godt præsentere den pænt.
        Skriv den på en tavle i køkkenet, print den ud og hæng den på køleskabet, eller stil den på bordet i en menu-holder: Så kan resten af familien se, hvad der venter dem – og du kan læne dig tilbage og nyde synet, hver gang du tænker på den stress, der tidligere var forbundet med at lave aftensmad.


        </p>
    </div>

</div>

</body>

</html>