<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>
    <link rel="stylesheet" href="../static/css/forbruger.css" th:href="@{/css/forbruger.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
            <img class="dkmodlogo" th:src="@{/pictures/madsppildmoddanmark.png}" alt="FoodMind" src="../static/pictures/madspildmoddanmark.png">
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" > Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>

    <div class="navside">
        <ul>
            <li><a th:href="@{/foropbevaring}" href="foropbevaring.html">Opbevaringsvejledning</a></li>
            <li><a th:href="@{/foropskrifter}" href="foropskrifter.html">Opskrifter</a></li>
            <li><a th:href="@{/formadplan}" href="formadplan.html">Madplanlægning</a></li>
            <li><a th:href="@{/forfallesskab}" href="forfallesskab.html">Fællesskaber</a></li>
        </ul>
    </div>
</div>

<div class="brødtekst">
    <h1>Opskrifter</h1>
    <div><img src="../static/pictures/forbruger/opskrift.jpg" width="1000"></div>

    <div>
        <p>
            Marinerede svampe og kikærter med ris og frisk grønt<br>
            Print<br>
            Samlet tid: 40 min.<br>
            Arbejdstid: 15-30 min.<br>
            Opskrift af: nemlig.com<br>
            Ingredienser (4 personer)<br>
            <br>
            320 g	Ris<br>
            1 tsk.	Salt<br>
            Marinade<br>
            2 spsk.	Revet ingefær<br>
            2 fed	Hvidløg<br>
            2 spsk.	Tamari<br>
            1 stk.	Lime, saften heraf<br>
            3 spsk.	Sukker<br>
            Marinerede svampe og kikærter<br>
            150 g	Østershatte el. lign.<br>
            300 g	Champignon<br>
            2 ds.	Kikærter<br>
            2 spsk. (ca.)	Olie<br>
            1 nip	Peber og evt. salt<br><br>
            Grønt<br>
            1 bdt.	Forårsløg<br>
            200 g	Gulerødder<br>
            Serveringsforslag<br>
            0.5 bdt.	Koriander eller basilikum<br>
            1 smule	Peanuts<br>
            1 behov	Kokosflager og/eller cashewnødder<br><br>
            Fremgangsmåde<br>
            Lav lækker vegetarisk aftensmad med denne nemme opskrift på marinerede svampe og kikærter med ris og frisk grønt.<br>
            retten er inspireret af det asiatiske køkken med smage af frisk ingefær, hvidløg og tamari.<br><br>
            Ris<br>
            •	Vej risene af og skyl risene grundigt under koldt vand, i en si eller sigte<br>
            •	Kom dem i en gryde med salt og passende mængde vand som angivet på posen<br><br>
            •	Kog efter anvisning på posen<br>
            Marinerede svampe og kikærter<br>
            •	Skræl ingefær og riv den fint. Pil hvidløg og pres det. Skær limen i både<br>
            •	Bland limesaften samt alle ingredienserne til marinaden sammen<br>
            •	Rens svampene efter behov. Skær champignon i skiver eller kvarte. Dræn kikærterne for væske<br>
            •	Varm en pande med en god sjat olie og steg svampene til de smider væske<br>
            •	Tilsæt herefter kikærterne og steg videre et minuts tid<br>
            •	Hæld marinaden over svampe og kikærter og lade den blive tyk<br>
            •	Vend marinaden godt sammen med svampe og kikærter<br>
            •	Smag til med peber og evt. salt<br><br>
            Grønt<br>
            •	Skyl forårsløg og skær dem i skiver på skrå<br>
            •	Skræl gulerødderne og kassér det yderste lag. Fortsæt med at skrælle tynde bånd<br>
            •	Servér risene toppet med glaserede svampe og kikærter. Top med de friske grøntsager<br>
        </p>
    </div>
</div>

</body>

</html>