<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>
    <link rel="stylesheet" href="../static/css/combined.css" th:href="@{/css/combined.css}">
    <link rel="stylesheet" href="../static/css/forbruger.css" th:href="@{/css/forbruger.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/madspildgrønt.png}" alt="FoodMind" src="../static/pictures/madspildgrønt.png"> </a>
            <p class="dmmtop">Danmark mod Madspild!!</p>
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Hjem</a> </li>
                <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" > Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>

    <div class="navside">
        <ul>
            <li><a th:href="@{/foropbevaring}" href="foropbevaring.html">Opbevaringsvejledning</a></li>
            <li><a th:href="@{/foropskrifter}" href="foropskrifter.html">Opskrifter</a></li>
            <li><a th:href="@{/formadplan}" href="formadplan.html">Madplanlægning</a></li>
            <li><a th:href="@{/forfallesskab}" href="forfallesskab.html">Fællesskaber</a></li>
        </ul>
    </div>
</div>
<img id="DKmodspild" th:src="@{/pictures/madspildmoddanmark.png}" alt="" src="../static/pictures/madspildmoddanmark.png">
<div class="brødtekst">
    <h1>Opskrifter</h1>
    <div style="column-count: 3">
        <br>
        <div><p class="rot"><a class="linkopskrift" href="https://www.nemlig.com/opskrifter/marinerede-svampe-kikaerter-groent-98004106"><img th:src="@{/pictures/forbruger/opskrift.jpg}" src="../static/pictures/forbruger/opskrift.jpg" width="200"><br>Marinerede svampe og<br>kikærter med ris og frisk grønt</a></p></div><br><br>
        <div><p class="rot"><a class="linkopskrift" href="https://madensverden.dk/stop-madspild/"><img th:src="@{/pictures/forbruger/rodfrugt.jpg}" src="../static/pictures/forbruger/rodfrugt.jpg" width="150"><br>Stop madspild:<br>Opskrifter med gamle<br>grøntsager</a></p></div><br><br><br><br><br>
        <div><p class="rot"><a class="linkopskrift" href="https://voresmad.dk/kokkeskole/genbrug-rester-i-madpakken"><img th:src="@{/pictures/forbruger/madpakke.jpg}" src="../static/pictures/forbruger/madpakke.jpg" width="200"><br>Brug rester i<br>madpakken</a></p></div><br><br><br>
        <div><p class="rot"><a class="linkopskrift" href="https://voresmad.dk/opskrifter/a/andesalat-med-bulgur"><img th:src="@{/pictures/forbruger/and.jpg}" src="../static/pictures/forbruger/and.jpg" width="200"><br><br>Andesalat med<br>bulgur</a></p></div><br><br>
        <div><p class="rot"><a class="linkopskrift" href="https://www.nemlig.com/opskrifter/madleksikon/mindre-madspild/brug-dine-rester"><img th:src="@{/pictures/forbruger/banan.jpg}" src="../static/pictures/forbruger/banan.jpg" width="200"><br>Undgå madspild<br>Inspiration<br>til restemad</a></p></div><br><br><br><br><br><br><br>
        <div><p class="rot"><a class="linkopskrift" href="https://www.arla.dk/opskrifter/temaer/rester/"><img th:src="@{/pictures/forbruger/restemad.jpg}" src="../static/pictures/forbruger/restemad.jpg" width="200"><br>Restemad<br></a></p></div><br><br><br><br><br>
        <div><p class="rot"><a class="linkopskrift" href="https://www.webopskrifter.dk/tom-koleskabet/"><img th:src="@{/pictures/forbruger/toem.jpg}" src="../static/pictures/forbruger/toem.jpg" width="200"><br>Tøm køleskabet!<br>indtast ingredienser<br>og få en opskrift</a></p></div><br><br><br>
        <div><p class="rot"><a class="linkopskrift" href="https://opskrifter.coop.dk/temaer/restemad"><img th:src="@{/pictures/forbruger/coop.jpg}" src="../static/pictures/forbruger/coop.jpg" width="200"><br>Coop<br>restemad</a></p></div>
    </div>

</div>

</body>

</html>