<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodMind</title>
    <link rel="stylesheet" th:href="@{css/index.css}" href="../static/css/index.css">

    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">
            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>

        <div class="topnav">
            <ul>
                <li><a class="active" th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" > Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a class="#contact us" href="contact us">Contact Us </a></li>
            </ul>
        </div>
    </div>
</div>
    <div>
        <div class="navside">
            <ul>

            <li><a th:href="@{/https://www.dst.dk/da/Statistik/nyheder-analyser-publ/nyt/NytHtml?cid=39625}" href="https://www.dst.dk/da/Statistik/nyheder-analyser-publ/nyt/NytHtml?cid=39625">Statistik om madspild</a></li>
                <!-- <li><a href="#news">initiativer bekæmpelse af madspild og andre fantastiske ting</a></li>-->
            <!--<li><a href="#contact"></a></li>
            <li><a href="#about">Bliv partner</a></li>
            <li><a href="#about">Fællesskaber</a></li>-->
            </ul>
        </div>
    </div>

<div class="brødtekst">

        <div>
             <img th:src="@{/pictures/madspildbutikcontainer.jpg}" alt="skraldecontainer med mad" src="../static/pictures/madspildbutikcontainer.jpg" width="100%">
            <p>Hver dag bliver der smidt næsten 2.000 tons fødevarer ud i Danmark. Men nu går indsatsen mod madspild ind i en ny faseOrganisationen -Danmark mod Madspild–ønsker via en webside at gøre det nemmere at undgå madspild eller informere forbrugere om madspild.</p>
        </div>


</div>

</body>
</html>