<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" href="../static/css/combined.css" th:href="@{css/combined.css}">
    <link rel="stylesheet" href="../static/css/organisation.css" th:href="@{css/organisation.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <!--    <li><a><img src="../static/pictures/Logo.png"  height="30px" width="30px" ></a></li>-->
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" > Virksomhed</a></li>
                <li><a class="active" th:href="@{organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
<!--            <li><a th:href="@{/orgdataindsamling}" href="orgdataindsamling.html">Dataindsamling</a></li>-->
<!--            <li><a th:href="@{/orgresourcestyring}" href="orgresourcestyring.html">Resourcestyring</a></li>-->
            <li><a th:href="@{/orgrapporter}" href="orgrapporter.html">Rapporter</a></li>
            <li><a th:href="@{/orgpartner}" href="orgpartner.html">Bliv partner</a></li>

        </ul>
    </div>
</div>
<img id="DKmodspild" th:src="@{/pictures/madspildmoddanmark.png}" alt="" src="../static/pictures/madspildmoddanmark.png">
<div class="brødtekst">
    <h2> Om <strong>Danmark mod Madspild</strong></h2>
    <p>Danmark mod Madspild er en frivillig aftale hvis mål er, at halvere madaffald, inkl. madspild og/eller fødevaretab i den danske fødevarebranche inden 2030.
        Initiativet har sit afsæt i FN’s Verdensmål for bæredygtig udvikling, SDG 12.3, hvor det globale madaffald pr. indbygger skal halveres inden 2030 og fødevaretabet reduceres.<br> <br>
        I Danmark går der årligt ca. 814.000 tons mad til spilde – 2/3 af dette spild forekommer i fødevaresektoren, fx i landbruget, i fødevareindustrien, i restauranter og i offentlige institutioner.
        <br>Når vi producerer en fødevare, bruges der energi, vand, jordarealer, næringsstoffer og ofte også sprøjtemidler.
        Hvis fødevaren smides ud efterfølgende, går ikke kun fødevaren, men også alle de ressourcer, der er blevet brugt til at fremstille fødevaren, til spilde.
        <br>Når vi reducerer madspildet i Danmark, understøtter vi klima- og miljøindsatsen gennem en mindre udledning af CO2, sikrer en bedre udnyttelse af jordens ressourcer og bidrager positivt til den danske økonomi.
        <br>Den frivillige aftale Danmark mod Madspild bæres af en gensidig indsats og samarbejde mellem hele fødevareværdikædens forskellige aktører. </p>

    <h2> <b> Hvorfor er madspild vigtigt?</b></h2>
    <p> At forebygge madaffald, inkl madspild, og fødevaretab er god forretning, for dig om for din omverden. Så kort kan det siges. <br>
        Madaffald, herunder madspild, og fødevaretab har nemlig både store økonomiske konsekvenser, og store miljømæssige konsekvenser, <br>
        herunder fx klimabelastning, ressourceforbrug, økotoksicitet, forsuring, næringssaltbelastning, og human toksicitet.<br><br>
        Fødevareindustriens omkostninger fra madspild er til tider skjult i virksomhedens driftsbudgetter,
        hvor det accepteres som en almindelig omkostning ved at drive forretning. Reduktion af madspild er en mulighed for at forbedre virksomhedens bundlinje.
        <br> Madspild og fødevaretab er en global udfordring, og i de internationale samfund arbejdes der derfor også intenst med denne dagsorden.
        <br><br>
        <h4>Her er nogle forslag til hjemmesider, hvis I ønsker at følge den internationale madspildsdagsorden tæt.</h4>
     <a href="https://www.un.org/en/observances/end-food-waste-day"><font color="#ac142a">https://www.un.org/en/observances/end-food-waste-day</font></a>
        <br>
    <a href="http://www.fao.org/platform-food-loss-waste/en/"><font color="#ac142a">http://www.fao.org/platform-food-loss-waste/en/</font></a>
        <br>
    <a href="https://flwprotocol.org/"><font color="#ac142a">https://flwprotocol.org/</font></a>



</div>

</body>

</html>