<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" href="../static/css/organisation.css" th:href="@{css/organisation.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <!--    <li><a><img src="../static/pictures/Logo.png"  height="30px" width="30px" ></a></li>-->
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" > Virksomhed</a></li>
                <li><a class="active" th:href="@{organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/orgdataindsamling}" href="orgdataindsamling.html">Dataindsamling</a></li>
            <li><a th:href="@{/orgresourcestyring}" href="orgresourcestyring.html">Resourcestyring</a></li>
            <li><a th:href="@{/orgrapporter}" href="orgrapporter.html">Rapporter</a></li>
            <li><a th:href="@{/orgpartner}" href="orgpartner.html">Bliv partner</a></li>

        </ul>
    </div>
</div>

<div class="brødtekst">
    </h4>
    <h3> Medlemmerne af Danmark Mod Madspild er selve styrken bag hele projektet</h3>
    <p> De repræsenterer hele madkæden fra 'gård til gaffel', frivillige organisationer,
        offentlige institutioner & <br> forskningssamfundet. De bidrager alle med ekspertise og <strong>unikke</strong> know-hows til projektet.</p>
    <br>
    <p>Hvis I ønsker at deltage i aftalen, så tryk <a th:href="@{/contact}" href="contact.html">her</a>
        eller på <strong>'Kontakt os'</strong> til højre.</p>
    <div class="row">
        <div class="column">
            <img th:src="@{/pictures/partnere/image1.png}" src="../static/pictures/partnere/image1.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image2.png}" src="../static/pictures/partnere/image2.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image3.png}" src="../static/pictures/partnere/image3.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image4.jpg}" src="../static/pictures/partnere/image4.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image5.png}" src="../static/pictures/partnere/image5.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image6.png}" src="../static/pictures/partnere/image6.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image7.png}" src="../static/pictures/partnere/image7.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image8.jpg}" src="../static/pictures/partnere/image8.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image9.jpg}" src="../static/pictures/partnere/image9.jpg" style="width:25%">
        </div>
        <div class="column">
            <img th:src="@{/pictures/partnere/image10.jpg}" src="../static/pictures/partnere/image10.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image11.jpg}" src="../static/pictures/partnere/image11.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image12.jpg}" src="../static/pictures/partnere/image12.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image13.jpg}" src="../static/pictures/partnere/image13.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image14.jpg}" src="../static/pictures/partnere/image14.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image15.jpg}" src="../static/pictures/partnere/image15.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image16.jpg}" src="../static/pictures/partnere/image16.jpg" style="width:25%">
            <img th:src="@{/pictures/partnere/image17.png}" src="../static/pictures/partnere/image17.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image18.png}" src="../static/pictures/partnere/image18.png" style="width:25%">
        </div>
        <div class="column">
            <img th:src="@{/pictures/partnere/image19.png}" src="../static/pictures/partnere/image19.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image20.png}" src="../static/pictures/partnere/image20.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image21.png}" src="../static/pictures/partnere/image21.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image22.png}" src="../static/pictures/partnere/image22.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image23.png}" src="../static/pictures/partnere/image23.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image24.png}" src="../static/pictures/partnere/image24.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image25.png}" src="../static/pictures/partnere/image25.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image26.png}" src="../static/pictures/partnere/image26.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image27.png}" src="../static/pictures/partnere/image27.png" style="width:25%">
        </div>
        <div class="column">
            <img th:src="@{/pictures/partnere/image28.png}" src="../static/pictures/partnere/image28.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image29.png}" src="../static/pictures/partnere/image29.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image30.png}" src="../static/pictures/partnere/image30.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image31.png}" src="../static/pictures/partnere/image31.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image32.png}" src="../static/pictures/partnere/image32.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image33.png}" src="../static/pictures/partnere/image33.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image34.png}" src="../static/pictures/partnere/image34.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image35.png}" src="../static/pictures/partnere/image35.png" style="width:25%">
            <img th:src="@{/pictures/partnere/image36.png}" src="../static/pictures/partnere/image36.png" style="width:25%">
        </div>
    </div>
</div>
<!--    <b><p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--        <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>-->
<!--    </b>-->
<!--</div>-->

</body>

</html>