<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Doneringsliste</title>
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{css/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a class="active" th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/virkressourcestyring}" href="virkressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{/virkdoneringsliste}" href="virkdoneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{/virktraeningsmodul}" href="virktraeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{/virkraadgivning}" href="virkraadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{/virkpartner}" href="virkpartner.html">Bliv partner</a></li>
        </ul>
    </div>
</div>

<div class="afsnit_a">
    <h1>Doneringsliste</h1>
    <div><img th:src="@{/pictures/virksomhed/donation431x215px.jpg}" alt="Picture off donation" src="../static/pictures/virksomhed/donation431x215px.jpg" height="300"></div>
    <h3>Madspild og donation af mad: </h3>
    <p>Madspild er et alvorligt problem, som påvirker både vores klima og miljø, og som resulterer i spild af betydelige mængder mad og penge hver dag. Det er et problem, der strækker sig gennem hele fødevarekæden, og som kan løses ved at optimere processerne og tage ansvar for overskudsmad.</p>
    <p>Vi hjælper til at nedbringe madspild i kantiner, restauranter, cateringsvirksomheder og storkøkkener. Vi gennemfører en omfattende madspildsanalyse, hvor vi gennemgår jeres processer, måler madspildet og kommer med konkrete anvisninger på, hvordan I kan minimere spild af mad. Vi inddrager også medarbejderne i dialog og praktiske øvelser, så I får handlingsorienterede værktøjer, der kan nedbringe jeres madspild.</p>
</div>

<div class="afsnit_b">
    <h3>Har du brug for hjælp til at nedbringe madspild i din virksomhed?  </h3>
    <p>Men vores service stopper ikke der. Vi tilbyder også en avanceret teknologisk løsning, der kan overvåge madspildet og hjælpe med at identificere områder, hvor spildet kan reduceres. Vores eFoodMind sensor er specielt udviklet til automatisk temperaturmåling og styring af varelagre, køleskabe og frysere døgnet rundt, så varelageret altid opbevares ved rigtig temperatur. Sensoren er trådløs og kører på eget netværk, og måler automatisk temperaturen i dine køle- og fryseenheder og sender målingen direkte ind i dit eFoodMind egenkontrolprogram, så du sparer den manuelle kontrol. De automatiske temperaturmålinger gemmes i kundens system og er altid tilgængelige ved et kontrolbesøg eller til rapportgenerering.</p>
    <p>Vi ønsker at gøre det nemmere for kantiner, restauranter, cateringsvirksomheder og storkøkkener at reducere deres madspild og tage ansvar for overskudsmad ved at tilbyde vores teknologiske og faglige ekspertise. Vi kan hjælpe dig med at donere overskudsmad på en ansvarlig måde, og sikre at maden ikke gør mennesker syge.</p>
    <p>Kontakt os i dag, og lad os hjælpe dig med at nedbringe madspild i din virksomhed.</p>

    <br>
</div>



</body>

</html>