<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Træningsmodul</title>
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <!--    <li><a><img src="../static/pictures/Logo.png"  height="30px" width="30px" ></a></li>-->
                <li><a th:href="@{index.html}" href="index.html">Home</a> </li>
                <li><a th:href="@{forbruger.html}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{virksomhed.html}" href="virksomhed.html">Virksomhed</a></li>
                <li><a th:href="@{organisation.html}" href="organisation.html"</a>Organisation</li>
                <li id="contact"><a class="#contact us" href="contact us">Contact Us </a></li>
            </ul>
        </div>
    </div>
    <div>
        <header>
            <li><a th:href="@{virk_ressourcestyring.html}" href="virk_ressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{virk_doneringsliste.html}" href="virk_doneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{virk_traeningsmodul.html}" href="virk_traeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{virk_raadgivning.html}" href="virk_raadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{virk_partner.html}" href="virk_partner.html">Bliv partner</a></li>
        </header>
    </div>
</div>

<div class="afsnit_a">
    <h3>Stop madspild og skab en mere bæredygtig fremtid med FoodMind </h3>
    <p>FoodMind tilbyder nu et nyt træningsmodul, som hjælper virksomheder med at nedbringe madspild. Træningsmodulet er delt op i tre områder: landbrug og fødevareindustri, kantiner, restauranter og storkøkkener samt detailhandlen.</p>
    <div><img src="../static/pictures/virksomhed/traeningsmodul.jpg" height="300"></div>
</div>

<div class="afsnit_b">
    <h3>Stop madspildet i fødevareindustrien og landbruget  </h3>
    <p>Andet område fokuserer på, hvad kantiner, restauranter, storkøkkener og foodservice kan gøre for at nedbringe madspild. Et af de største madspildssyndere er buffeter, og derfor kan spisesteder overveje at afskaffe buffeter og i stedet indføre ‘a la carte menuer’ og mindre portioner. Derudover kan man tilbyde doggybags eller køb-per-vægt portioner. At gøre sine gæster opmærksomme på, at man gør en aktiv indsats mod madspild, vil også have en positiv effekt.</p>
</div>

<div class="afsnit_c">
    <h3>Mindre madspild på spisesteder: Gode råd til kantiner, restauranter og storkøkkener  </h3>
    <p>Første område tager fat på, hvordan landbruget og fødevareindustrien kan nedbringe madspild. Det handler blandt andet om at afsætte anden klasses grøntsager og frugt, som eksempelvis ‘grimme’ tomater eller krumme agurker. Flere fødevareproducenter er begyndt at indføre ‘madspildsprodukter’ baseret på disse produkter, hvilket er blevet ganske populære hos forbrugerne. Derudover kan landbruget og fødevareindustrien arbejde på bedre processer fra jord til butik, bedre samarbejde mellem avler og aftager, bedre planlægning i kæden fra jord til butik, bedre lagerstyring og bedre logistik.</p>
</div>

<div class="afsnit_d">
    <h3>Sådan kan supermarkeder stoppe madspild: Tips og tricks til detailhandlen  </h3>
    <p>Tredje område handler om, hvad detailhandlen kan gøre for at nedbringe madspild. Supermarkeder kan blandt andet sælge datovarer til nedsatte priser, bruge diverse madspilds-apps til at få solgt maden og skabe et bedre ‘flow’ af varer. Derudover kan lokale supermarkeder donere mad til velgørenhed for eksempel via den landsdækkende forening Stop Spild Lokalt. Mad i mindre forpakninger er også en god idé til Danmarks mindre husstande og de cirka 1,5 millioner singler. Endvidere kan man også indføre køb-per-vægt på frugt og grøntsager.</p>
</div>

<div class="afsnit_e">
    <h3>Kom i kontakt med FoodMind og lad os hjælpe dig med at nedbringe madspildet  </h3>
    <p>FoodMind’s træningsmodul er en fantastisk mulighed for virksomheder at tage aktiv del i at nedbringe madspild og bidrage til en mere bæredygtig fremtid. Gennem træningsmodulet kan virksomhederne få den nødvendige viden og værktøjer til at gøre en forskel, både for miljøet og for bundlinjen. Kontakt FoodMind for mere information om træningsmodulet og start nedbringningen af madspild i dag.</p>
</div>

<br>

<footer>
    <p>FoodMind - Din partner i kampen mod madspild</p>
</footer>

</body>

</html>