<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Virksomhed</title>
        <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{/virksomhed.css}">
    </head>
    <body>
        <!-- Midlertidig topnavigation indtil vi er enige om hvordan den skal se ud -->
        <nav>
            <p style="text-align:center;"><img src="../static/pictures/Logo.png" alt="Logo" width="75">
            </p>
            <ul>
                <li><a href="index.html">FoodMind</a></li>
                <li><a href="forbruger.html">Forbruger</a></li>
                <li><a href="virksomhed.html">Virksomhed</a></li>
                <li><a href="organisation.html">Organisation</a></li>
            </ul>
        </nav>

        <header>
            <h1>Information for virksomheder</h1>
        </header>

        <section>
            <h2>Hvad er madspild, og hvorfor er det vigtigt at reducere det?</h2>
            <p>Madspild er den mad, som bliver kasseret eller smidt ud, selvom den stadig er spiselig. Det kan fx være overskudsmad fra produktionen, mad der går til spilde i butikker eller restauranter, eller madrester, der ikke bliver spist hjemme hos forbrugerne. Madspild er en stor udfordring for samfundet, da det ikke alene er en spild af ressourcer og penge, men også har en negativ påvirkning på miljøet. </p>
        </section>

        <section>
            <h2>Hvordan kan virksomheder reducere madspild?</h2>
            <p>Der er mange forskellige måder, hvorpå virksomheder kan reducere deres madspild. Her er nogle eksempler:</p>
            <ul>
                <li>Anvendelse af avanceret teknologi og software, der kan overvåge madspildet og hjælpe med at identificere områder, hvor spildet kan reduceres.</li>
                <li>Optimering af produktionen, så der kun produceres det nødvendige antal varer og ingredienser.</li>
                <li>Effektiv lagring og håndtering af madvarer for at undgå spild og forringelse.</li>
                <li>Donation af overskudsmad til velgørenhed eller lokale organisationer.</li>
                <li>Tilbud om "overskudsvarer" til nedsatte priser.</li>
            </ul>
        </section>

        <section>
            <h2>Hvordan kan FoodMind hjælpe din virksomhed med at reducere madspild?</h2>
            <p>Vi tilbyder en række forskellige tjenester og løsninger, der kan hjælpe din virksomhed med at reducere madspild og skabe en mere bæredygtig forretning. Her er nogle eksempler:</p>
            <ul>
                <li><a href="v-ressourcestyring.html">Overvågning af jeres madspild ved hjælp af avancerede sensorer og software.</a></li>
                <li><a href="v-doneringsliste.html">Udvikling og gennemførsel af kampagner og marketingmateriale, der fokuserer på at reducere madspild og skabe opmærksomhed om jeres bæredygtige profil.</a></li>
                <li><a href="v-træningsmodul.html">Træning og workshops til jeres medarbejdere for at øge deres bevidsthed om madspild og give dem redskaber til at reducere spildet i jeres virksomhed.</a></li>
                <li><a href="v-rådgivning.html">Rådgivning og sparring omkring bæredygtig forretningsudvikling og strategi.</a></li>
            </ul>
        </section>

        <footer>
            <p>FoodMind - Din partner i kampen mod madspild</p>
        </footer>

    </body>
</html>