<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Rådgivning</title>
    <link rel="stylesheet" href="../static/css/combined.css" th:href="@{/css/combined.css}">
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{css/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a class="active" th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/virkressourcestyring}" href="virkressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{/virkdoneringsliste}" href="virkdoneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{/virktraeningsmodul}" href="virktraeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{/virkraadgivning}" href="virkraadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{/virkpartner}" href="virkpartner.html">Bliv partner</a></li>
        </ul>
    </div>
</div>

<img id="DKmodspild" th:src="@{/pictures/madspildmoddanmark.png}" alt="" src="../static/pictures/madspildmoddanmark.png">

<div class="afsnit_a">
    <h1>Rådgivning</h1>
    <h3>Introduktion til vores rådgivningstilbud: </h3>
    <p>Vi tilbyder personlig rådgivning og sparring inden for madspild, så virksomheder kan undgå at smide mad ud og samtidig spare penge. Vi hjælper med at identificere områder, hvor madspildet kan reduceres, og hvordan overskudsvarer kan doneres på en sikker og ansvarlig måde.</p>
    <div><img th:src="@{/pictures/virksomhed/raadgivning.jpg}" alt="Picture off donation" src="../static/pictures/virksomhed/raadgivning.jpg" height="300"></div>
</div>

<div class="afsnit_b">
    <h3>Hvornår kan virksomheder donere overskudsvarer?  </h3>
    <p>Det kan være en udfordring for virksomheder at navigere i de komplekse regler og krav, der er forbundet med donation af overskudsvarer. Derfor er det vigtigt at have en professionel sparringspartner, der kan give vejledning om de forskellige regler og muligheder.</p>
</div>

<div class="afsnit_c">
    <h3>Hvordan undgår man madspild i virksomheden?  </h3>
    Med FoodMinds personlige rådgivning kan virksomheder få hjælp til at udvikle en strategi for at undgå madspild og samtidig få vejledning om, hvordan overskudsvarer kan doneres på en ansvarlig og sikker måde. Rådgivningen tager højde for virksomhedens specifikke behov og udfordringer og kan omfatte alt fra temperaturstyring til lagerstyring og logistik.
</div>

<div class="afsnit_d">
    <h3>Få personlig rådgivning og sparring fra FoodMinds eksperter:  </h3>
    <p>Med vores ekspertise inden for fødevaresikkerhed og bæredygtighed kan virksomheder få en unik mulighed for at minimere deres miljømæssige fodaftryk og samtidig bidrage til at hjælpe socialt udsatte og hjemløse.</p>
    <p>Kontakt os i dag for at få mere information om personlig rådgivning og sparring inden for madspild.</p>
</div>

<br>



</body>

</html>