<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Ressourcestyring</title>
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{css/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/virkressourcestyring}" href="virkressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{/virkdoneringsliste}" href="virkdoneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{/virktraeningsmodul}" href="virktraeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{/virkraadgivning}" href="virkraadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{/virkpartner}" href="virkpartner.html">Bliv partner</a></li>
        </ul>
    </div>
</div>

<div class="afsnit_a">
    <h3>eFoodMind – Reducer madspildet og øg bæredygtigheden med avanceret teknologi og software </h3>
    <div><img src="../static/pictures/virksomhed/eFoodMind.jpg" height="300"></div>
    <p>Madspild er en udfordring, der påvirker både vores planet og vores økonomi. I Danmark smides der hvert år tusindvis af tons mad ud, og dette har konsekvenser for både miljøet og vores pengepung. Derfor er det vigtigt at tage ansvar og gøre en indsats for at mindske madspildet.</p>
    <p>FoodMind er en virksomhed, der er dedikeret til at reducere madspild og øge bæredygtigheden inden for fødevaresektoren ved at anvende avanceret teknologi og software til ressourcestyring. Vi tror på, at bæredygtig ressourcestyring er en løsning på udfordringerne omkring madspild, og vi har udviklet en sensor til automatisk temperaturmåling og styring af varelagre, køleskabe og frysere.</p>
    <p>Vores sensor, eFoodMind, er en specielt udviklet sensor, der er trådløs og kører på eget netværk. Sensoren måler automatisk temperaturen i dine køle- og fryseenheder og sender målingerne direkte ind i dit eSmiley egenkontrolprogram. Dette betyder, at du sparer den manuelle kontrol, og du altid er sikker på, at dit varelager opbevares ved den rigtige temperatur.</p>
    <p>De automatiske temperaturmålinger gemmes i kundens system og er altid tilgængelige ved et kontrolbesøg eller til rapportgenerering. Du kan altid være sikker på, at dit varelager har den rette temperatur, og du vil modtage en SMS- eller mailnotifikation ved temperaturudsving. Vores løsning er trådløs og driftsstabil og kører på eget netværk, så du altid kan få adgang til dine data.</p>
    <p>Vores avancerede teknologi og software til ressourcestyring kan også hjælpe med at identificere områder, hvor spildet kan reduceres. Vores sensor og software kan overvåge og analysere jeres ressourcestyring og hjælpe jer med at identificere områder, hvor spildet kan reduceres, så I kan tage skridt til at mindske det.</p>
    <p>Vi tilbyder også gratis rådgivning fra vores fødevare fageksperter og gratis support på telefon og e-mail. Vi tror på, at vores avancerede teknologi og software til ressourcestyring kan være en game changer i kampen mod madspild og bæredygtighed.</p>
    <p>Kontakt os i dag for at høre mere om, hvordan vores avancerede teknologi og software til ressourcestyring kan hjælpe din virksomhed med at reducere madspildet og øge bæredygtigheden. Vi ser frem til at samarbejde med jer om at skabe en bæredygtig fremtid.
    </p>

    <br>
</div>



</body>

</html>