<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Partner</title>
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <!--    <li><a><img src="../static/pictures/Logo.png"  height="30px" width="30px" ></a></li>-->
                <li><a th:href="@{index.html}" href="index.html">Home</a> </li>
                <li><a th:href="@{forbruger.html}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{virksomhed.html}" href="virksomhed.html">Virksomhed</a></li>
                <li><a th:href="@{organisation.html}" href="organisation.html"</a>Organisation</li>
                <li id="contact"><a class="#contact us" href="contact us">Contact Us </a></li>
            </ul>
        </div>
    </div>
    <div>
        <header>
            <li><a th:href="@{virk_ressourcestyring.html}" href="virk_ressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{virk_doneringsliste.html}" href="virk_doneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{virk_traeningsmodul.html}" href="virk_traeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{virk_raadgivning.html}" href="virk_raadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{virk_partner.html}" href="virk_partner.html">Bliv partner</a></li>
        </header>
    </div>
</div>

<div class="afsnit_a">
    <h3>Bliv partner med FoodMind og kæmp mod madspild </h3>
    <p>I dagens samfund er madspild et stort problem, og det påvirker både vores miljø og vores økonomi. Derfor har FoodMind besluttet sig for at tage en aktiv rolle i at bekæmpe madspild. FoodMind er en førende virksomhed indenfor ressourcestyring og arbejder aktivt for at nedbringe madspild i hele fødevarekæden.</p>
    <div><img src="../static/pictures/virksomhed/verdensmaal_1.png" height="300"></div>
</div>

<div class="afsnit_b">
    <h3>FN's verdensmål og FoodMind  </h3>
    <p>FN's verdensmål er at udrydde sult og opnå fødevaresikkerhed og bæredygtig udvikling. Det er netop det, som FoodMind også stræber efter. Vi mener, at det er vores ansvar som førende virksomhed indenfor ressourcestyring, at være en aktiv del af dette mål og arbejde for at nedbringe madspild i hele fødevarekæden.</p>
    <div><img src="../static/pictures/virksomhed/verdensmaal_2.png" height="300"></div>
    <p>Partnerskaber mellem virksomheder kan understøtte flere af FN's verdensmål, herunder:</p>
    <p>Verdensmål nr. 2: "Ingen sult" - Partnerskaber mellem virksomheder kan bidrage til at reducere sult og skabe mere bæredygtige fødevaresystemer ved at mindske madspild og øge fødevareeffektiviteten.</p>
    <p>Verdensmål nr. 12: "Ansvarligt forbrug og produktion" - Partnerskaber mellem virksomheder kan hjælpe med at reducere ressourceforbruget og affaldet i produktionen, samtidig med at det kan skabe mere ansvarlige forbrugsvaner hos forbrugerne.</p>
    <p>Verdensmål nr. 13: "Klimaindsats" - Partnerskaber mellem virksomheder kan bidrage til at reducere CO2-udledningen og styrke klimaindsatsen ved at mindske madspild og fremme mere bæredygtige produktions- og forbrugsmønstre.</p>
    <p>Verdensmål nr. 17: "Partnerskaber for handling" - Partnerskaber mellem virksomheder kan understøtte FN's overordnede mål om at fremme partnerskaber for handling og bæredygtig udvikling på tværs af sektorer og landegrænser.</p>
</div>

<div class="afsnit_c">
    <h3>Partnerskab med andre virksomheder  </h3>
    <p>Vi er på udkig efter ligesindede virksomheder, som ønsker at reducere madspild. Vi ønsker at skabe et partnerskab, hvor vi kan samarbejde om at finde nye måder at reducere madspild på. Vi tror på, at ved at arbejde sammen kan vi skabe større forandring og gøre en større forskel.</p>
</div>

<div class="afsnit_d">
    <h3>Synergier mellem virksomheder  </h3>
    <p>Ved at skabe et partnerskab mellem FoodMind og andre virksomheder, kan vi også skabe synergier og muligheder for samarbejde. Vi kan dele vores erfaringer og viden med hinanden, og på den måde skabe en stærkere og mere bæredygtig fødevarekæde.</p>
    <p>Kontakt os i dag, hvis du ønsker at blive en del af FoodMinds partnerskab i kampen mod madspild. Sammen kan vi gøre en forskel og arbejde mod en mere bæredygtig fremtid for alle.</p>
</div>

<div class="registrering">
    <h3>Registrer dig som samarbejdspartner: </h3>
    <a href="https://wintrymichi.ch">Klik her.</a>
    <b>
        <p>Vi glæder os til samarbejdet.</p>
    </b>
</div>

<br>

<footer>
    <p>FoodMind - Din partner i kampen mod madspild</p>
</footer>

</body>

</html>