<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Træningsmodul</title>
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <!--    <li><a><img src="../static/pictures/Logo.png"  height="30px" width="30px" ></a></li>-->
                <li><a th:href="@{index.html}" href="index.html">Home</a> </li>
                <li><a th:href="@{forbruger.html}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{virksomhed.html}" href="virksomhed.html">Virksomhed</a></li>
                <li><a th:href="@{organisation.html}" href="organisation.html"</a>Organisation</li>
                <li id="contact"><a class="#contact us" href="contact us">Contact Us </a></li>
            </ul>
        </div>
    </div>
    <div>
        <header>
            <li><a th:href="@{virk_ressourcestyring.html}" href="virk_ressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{virk_doneringsliste.html}" href="virk_doneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{virk_traeningsmodul.html}" href="virk_traeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{virk_raadgivning.html}" href="virk_raadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{virk_partner.html}" href="virk_partner.html">Bliv partner</a></li>
        </header>
    </div>
</div>

<div class="afsnit_a">
    <h3>Introduktion til FoodMinds rådgivningstilbud </h3>
    <p>FoodMind tilbyder personlig rådgivning og sparring inden for madspild, så virksomheder kan undgå at smide mad ud og samtidig spare penge. FoodMind hjælper med at identificere områder, hvor madspildet kan reduceres, og hvordan overskudsvarer kan doneres på en sikker og ansvarlig måde.</p>
    <div><img src="../static/pictures/virksomhed/raadgivning.jpg" height="300"></div>
</div>

<div class="afsnit_b">
    <h3>Hvornår kan virksomheder donere overskudsvarer?  </h3>
    <p>Det kan være en udfordring for virksomheder at navigere i de komplekse regler og krav, der er forbundet med donation af overskudsvarer. Derfor er det vigtigt at have en professionel sparringspartner, der kan give vejledning om de forskellige regler og muligheder.</p>
</div>

<div class="afsnit_c">
    <h3>Hvordan undgår man madspild i virksomheden?  </h3>
    Med FoodMinds personlige rådgivning kan virksomheder få hjælp til at udvikle en strategi for at undgå madspild og samtidig få vejledning om, hvordan overskudsvarer kan doneres på en ansvarlig og sikker måde. Rådgivningen tager højde for virksomhedens specifikke behov og udfordringer og kan omfatte alt fra temperaturstyring til lagerstyring og logistik.
</div>

<div class="afsnit_d">
    <h3>Få personlig rådgivning og sparring fra FoodMinds eksperter  </h3>
    <p>Med FoodMinds ekspertise inden for fødevaresikkerhed og bæredygtighed kan virksomheder få en unik mulighed for at minimere deres miljømæssige fodaftryk og samtidig bidrage til at hjælpe socialt udsatte og hjemløse.</p>
    <p>Kontakt FoodMind i dag for at få mere information om personlig rådgivning og sparring inden for madspild.</p>
</div>

<br>

<footer>
    <p>FoodMind - Din partner i kampen mod madspild</p>
</footer>

</body>

</html>