<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Partner</title>
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{css/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a class="active" th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/virkressourcestyring}" href="virkressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{/virkdoneringsliste}" href="virkdoneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{/virktraeningsmodul}" href="virktraeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{/virkraadgivning}" href="virkraadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{/virkpartner}" href="virkpartner.html">Bliv partner</a></li>
        </ul>
    </div>
</div>

<div class="afsnit_a">
    <h1>Bliv partner</h1>
    <h3>Bliv partner med Danmark mod madspild og kæmp mod madspild: </h3>
    <p>I dagens samfund er madspild et stort problem, og det påvirker både vores miljø og vores økonomi. Derfor har Danmark mod madspild besluttet sig for at tage en aktiv rolle i at bekæmpe madspild. Danmark mod madspild er førende indenfor ressourcestyring og arbejder aktivt for at nedbringe madspild i hele fødevarekæden.</p>
    <div><img th:src="@{/pictures/virksomhed/verdensmaal1.png}" alt="Picture off donation" src="../static/pictures/virksomhed/verdensmaal1.png" height="300"></div>
</div>

<div class="afsnit_b">
    <h3>FN's verdensmål:  </h3>
    <p>FN's verdensmål er at udrydde sult og opnå fødevaresikkerhed og bæredygtig udvikling. Det er netop det, som vi også stræber efter. Vi mener, at det er vores ansvar som førende indenfor ressourcestyring, at være en aktiv del af dette mål og arbejde for at nedbringe madspild i hele fødevarekæden.</p>
    <div><img th:src="@{/pictures/virksomhed/verdensmaal2.png}" alt="Picture off donation" src="../static/pictures/virksomhed/verdensmaal2.png" height="300"></div>
    <p>Partnerskaber mellem virksomheder kan understøtte flere af FN's verdensmål, herunder:</p>
    <p>Verdensmål nr. 2: "Ingen sult" - Partnerskaber mellem virksomheder kan bidrage til at reducere sult og skabe mere bæredygtige fødevaresystemer ved at mindske madspild og øge fødevareeffektiviteten.</p>
    <p>Verdensmål nr. 12: "Ansvarligt forbrug og produktion" - Partnerskaber mellem virksomheder kan hjælpe med at reducere ressourceforbruget og affaldet i produktionen, samtidig med at det kan skabe mere ansvarlige forbrugsvaner hos forbrugerne.</p>
    <p>Verdensmål nr. 13: "Klimaindsats" - Partnerskaber mellem virksomheder kan bidrage til at reducere CO2-udledningen og styrke klimaindsatsen ved at mindske madspild og fremme mere bæredygtige produktions- og forbrugsmønstre.</p>
    <p>Verdensmål nr. 17: "Partnerskaber for handling" - Partnerskaber mellem virksomheder kan understøtte FN's overordnede mål om at fremme partnerskaber for handling og bæredygtig udvikling på tværs af sektorer og landegrænser.</p>
</div>

<div class="afsnit_c">
    <h3>Partnerskab med andre virksomheder:  </h3>
    <p>Vi er på udkig efter ligesindede virksomheder, som ønsker at reducere madspild. Vi ønsker at skabe et partnerskab, hvor vi kan samarbejde om at finde nye måder at reducere madspild på. Vi tror på, at ved at arbejde sammen kan vi skabe større forandring og gøre en større forskel.</p>
</div>

<div class="afsnit_d">
    <h3>Synergier mellem virksomheder:  </h3>
    <p>Ved at skabe et partnerskab med andre virksomheder, kan vi også skabe synergier og muligheder for samarbejde. Vi kan dele vores erfaringer og viden med hinanden, og på den måde skabe en stærkere og mere bæredygtig fødevarekæde.</p>
    <p>Kontakt os i dag, hvis du ønsker at blive en del af vores partnerskab i kampen mod madspild. Sammen kan vi gøre en forskel og arbejde mod en mere bæredygtig fremtid for alle.</p>
</div>




<br>



</body>

</html>