<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Virksomhed</title>
    <link rel="stylesheet" href="../static/css/virksomhed.css" th:href="@{css/virksomhed.css}">
    <link rel="icon" type="image/x-icon" href="../static/pictures/Logo_black.png">
</head>
<body>

<div>
    <div class="topdeco">
        <div class="header">

            <a href="https://erdetfredag.dk"><img id="Logo" th:src="@{/pictures/Logo.png}" alt="FoodMind" src="../static/pictures/Logo.png"> </a>
        </div>
        <div class="topnav">
            <ul>
                <li><a th:href="@{/index}" href="index.html">Home</a> </li>
                <li><a class="active" th:href="@{/forbruger}" href="forbruger.html">Forbruger</a></li>
                <li><a th:href="@{/virksomhed}"href="virksomhed.html" >Virksomhed</a></li>
                <li><a  th:href="@{/organisation}" href="organisation.html">Organisation</a></li>
                <li id="contact"><a th:href="@{/contact}" href="contact.html">Kontakt os </a></li>
            </ul>
        </div>
    </div>
    <div class="navside">
        <ul>
            <li><a th:href="@{/virkressourcestyring}" href="virkressourcestyring.html">Ressourcestyring</a></li>
            <li><a th:href="@{/virkdoneringsliste}" href="virkdoneringsliste.html">Doneringsliste</a></li>
            <li><a th:href="@{/virktraeningsmodul}" href="virktraeningsmodul.html">Træningsmodul</a></li>
            <li><a th:href="@{/virkraadgivning}" href="virkraadgivning.html">Rådgivning</a></li>
            <li><a th:href="@{/virkpartner}" href="virkpartner.html">Bliv partner</a></li>
        </ul>
    </div>
</div>

<div class="afsnit_a">
    <h3>Hvad er madspild, og hvorfor er det vigtigt at reducere det? </h3>
        <p>Madspild er den mad, som bliver kasseret eller smidt ud, selvom den stadig er spiselig. Det kan fx være overskudsmad fra produktionen, mad der går til spilde i butikker eller restauranter, eller madrester, der ikke bliver spist hjemme hos forbrugerne. Madspild er en stor udfordring for samfundet, da det ikke alene er en spild af ressourcer og penge, men også har en negativ påvirkning på miljøet. </p>
    <div><img th:src="@{/pictures/virksomhed/virksomhed600x350px.jpg}" alt="Picture off food here" src="../static/pictures/virksomhed/virksomhed600x350px.jpg" height="300"></div>
</div>

<div class="afsnit_b">
    <h3>Hvordan kan virksomheder reducere madspild?  </h3>
        <p>Der er mange forskellige måder, hvorpå virksomheder kan reducere deres madspild. Her er nogle eksempler: </p>

        <p>• Anvendelse af avanceret teknologi og software, der kan overvåge madspildet og hjælpe med at identificere områder, hvor spildet kan reduceres. </p>
        <p>• Optimering af produktionen, så der kun produceres det nødvendige antal varer og ingredienser.</p>
        <p>• Effektiv lagring og håndtering af madvarer for at undgå spild og forringelse.</p>
        <p>• Donation af overskudsmad til velgørenhed eller lokale organisationer.</p>
        <p>• Tilbud om "overskudsvarer" til nedsatte priser.</p>
</div>

<div class="afsnit_c">
    <h3>Hvordan kan FoodMind hjælpe din virksomhed med at reducere madspild? </h3>
        <p>Vi tilbyder en række forskellige tjenester og løsninger, der kan hjælpe din virksomhed med at reducere madspild og skabe en mere bæredygtig forretning. Her er nogle eksempler:  </p>

        <p>• Overvågning af jeres madspild ved hjælp af avancerede sensorer og software (Se mere under "Ressourcestyring").</p>
        <p>• Udvikling og gennemførsel af kampagner og marketingmateriale, der fokuserer på at reducere madspild og skabe opmærksomhed om jeres bæredygtige profil (Se mere under "Rådgivning").</p>
        <p>• Træning og workshops til jeres medarbejdere for at øge deres bevidsthed om madspild og give dem redskaber til at reducere spildet i jeres virksomhed (Se mere under "Træningsmodul").</p>
        <p>• Rådgivning og sparring omkring bæredygtig forretningsudvikling og strategi (Se mere under "Rådgivning").</p>
</div>




</body>

</html>